html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  &::before {
    box-sizing: inherit;
  }
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: $fuente-principal;
  font-size: 1.6rem;
  line-height: 1.8;
}