h1 {
  margin: 2rem 0;
  font-size: 4.8rem;
  font-weight: 900;
}

h2 {
  margin: 2rem 0;
  font-size: 5.8rem;
  font-weight: 900;
}

h3 {
  margin: 2rem 0;
  font-size: 5rem;
  font-weight: 900;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}